.InputP {
    width: 28.75rem;
    height: 4.375rem;
    border-radius: 0.625rem;
    background: #FFF;
    font-size: 1.2rem;
    border: 1px solid #CCCCCC;
    outline: none;
}

.InputP:focus {
    box-shadow: 0 0 0 2px #cacaca;
}

.InputPay {
    width: 28.75rem;
    height: 4.375rem;
    border-radius: 0.625rem;
    background: #D9D9D9;
    font-size: 1.2rem;
    border: 1px solid #CCCCCC;
    outline: none;
}

.InputPay:focus {
    box-shadow: 0 0 0 2px #acacac;
}

.InputCard {
    width: 27.5rem;
    height: 3.6875rem;
    border-radius: 0.625rem;
    background: #D9D9D9;
    font-size: 1.2rem;
    border: 1px solid #CCCCCC;
    outline: none;
}

.InputCard:focus {
    box-shadow: 0 0 0 2px #acacac;
}



.InputDataCard {
    width: 12.8125rem;
    height: 3.6875rem;
    border-radius: 0.625rem;
    background: #D9D9D9;
    font-size: 1.2rem;
    border: 1px solid #CCCCCC;
    outline: none;
}

.InputDataCard:focus {
    box-shadow: 0 0 0 2px #acacac;
}


.InputProduct {
    width: 27.5rem;
    height: 3.6875rem;
    ;
    border-radius: 0.625rem;
    background: #939393;
    font-size: 1.2rem;
    border: 1px solid #CCCCCC;
    outline: none;
}

.InputProduct:focus {
    box-shadow: 0 0 0 2px #918f8f;
}