.ButtonPayment {
    width: 16rem;
    height: 4rem;
    border-radius: 10px;
    background: #D9D9D9;
    border: none;
    outline: none;
}

.ButtonPayment:focus {
    box-shadow: 0 0 0 2px #a5a5a5;
}

.ButtonLogin {
    width: 15rem;
    height: 4rem;
    border-radius: 10px;
    background: #898989;
    border: 2px solid #6e6e6e;
    border: none;
    outline: none;
}

.ButtonLogin:Focus {
    box-shadow: 0 0 0 2px #6f757a;
}

.ButtonPay {
    width: 18rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 2px solid #6e6e6e;
    border: none;
    outline: none;
    background: #D9D9D9;
}

.ButtonPay:Focus {
    box-shadow: 0 0 0 2px #6f757a;
}

.ButtonCalc {
    width: 12.4375rem;
    height: 4.0625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 2px solid #6e6e6e;
    border: none;
    outline: none;
    background: #D9D9D9;
}

.ButtonCalc:Focus {
    box-shadow: 0 0 0 2px #6f757a;
}


.ButtonProduct {
    width: 27.5rem;
    height: 3.6875rem;
    border-radius: 0.625rem;
    border: 2px solid #6e6e6e;
    border: none;
    outline: none;
    background: #939393;
}

.ButtonProduct:Focus {
    box-shadow: 0 0 0 2px #6f757a;
}